body {
    background-image: url("images/Agust.jpg");
    background-size: cover;
    background-position: center;

}

body {
    color:azure;
}

.colorwhite
{
    color:seagreen
}
.GC{
    color:rgb(23, 223, 53)
}